$def with (data)

$var title: QuickVote Editor (Admin)

<script type="text/javascript">

	results_source = null;

	function update_results(data) {
		// Get the context of the canvas element we want to select

		$$("div#total").text(data['totals']);
		$$("div#correct").text(data['corrects']);
		// change colour according to level later on:
		//$$("div#ratio").parent().parent().attr('class', 'btn btn-lg btn-block btn-warning')
		$$("div#ratio").text(data['percent']);
		$$("div#sensitivity").text(data['sensitivity']);
		$$("div#specificity").text(data['specificity']);
		$$("div#accuracy").text(data['accuracy']);


	}


	function choose(id) {
		$$.getJSON("$data['get_url']" + id, function(data) {
			$$("#uuid").val(data['uuid']);
			$$("#domain").val(data['domain']);
			$$("#question").val(data['question']);
			$$("#options").val(data['options']);
			$$("#correct_opt").val(data['correct']);
			$$("#active_question").text(data['question'].substring(0,16));

			if (results_source != null) {
				results_source.close();
			}
			results_source = new EventSource("$data['get_results_url']" + data['uuid']);

			results_source.onmessage = function(event) {
			    update_results(JSON.parse(event.data));
			};


		});

	}

	// function delete_answers() {
	// 	var question_uuid = $$("#uuid").val();
	// 	console.log("delete all answers for " + question_uuid)
	// 	$$.post("$data['delete_url']" + question_uuid, function(data) {
	// 		choose(question_uuid);
	// 	});

	// }

	function new_session() {
		var question_uuid = $$("#uuid").val();
		console.log("new session for " + question_uuid)
		$$.post("$data['delete_url']" + question_uuid, function(data) {
			choose(question_uuid);
		});

	}



	function new_question() {
		$$("#uuid").val("$data['new_uuid']");
		$$("#domain").val("$data['domain']");
		$$("#question").val("");
		$$("#options").val("");
		$$("#correct_opt").val("");
		// empty form
		// var ctx = document.getElementById("resultChart").getContext("2d");

		// $$.getJSON('/results/$data', function (data) {
		// 	console.log(data);
		// 	var myBarChart = new Chart(ctx).Bar(data, {});
		// 	$$("textarea#comments").text(data['comments']);
		// });

	}

	function submit_edits() {
		console.log("save")
		var d = $$( "#editform" ).serialize()
		console.log(d)
		$$.post("$data['submit_url']", d);
		location.reload();
	}

	$$(document).ready(function () {
		if ("$data['active_question']" != "")
			choose("$data['active_question']");

	});


</script>


<div class="row">
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Editor</h3>
  	</div>
  	<div class="panel-body">

		<div class="col-md-3">
			<div class="panel panel-default">
			  	<div class="panel-heading">

					<div class="btn-group"> 
						<button id = "active_question" class="btn btn-default">
							Question
						</button> 
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu scrollable-menu">
							<li>
								<a onclick="new_question();">New</a>
							</li>
							<li class="divider">
							$for q in data['existing_questions']:
								</li>
								<li>
									<a onclick="choose(this.id);" id="$q['uuid']">$q['question']</a>
								</li>
						</ul>
					</div>
			  	</div>
			  	<div class="panel-body">

<!--  			<div class="btn-group">

				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-center"></em> Center
				</button> 
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-right"></em> Right
				</button> 
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-justify"></em> Justify
				</button>
			</div>
 -->
  			
					<a href="$data['results_url']" target="_blank" class="btn btn-primary btn-block" type="button">
						Show Results
					</a> 

					
				</div>
			</div>


			<div class="panel panel-default">

			  	<div class="panel-heading">
			    	<h3 class="panel-title">Responses</h3>
			  	</div>
			  	<div class="panel-body">

					<div class="btn btn-primary  btn-block" type="button">
			  			Total <span class="badge"><div id="total">-</div></span>
					</div>
					<div class="btn btn-success  btn-block" type="button">
			  			Correct <span class="badge"><div id="correct">-</div></span>
					</div>
					<div class="btn btn-success  btn-block" type="button">
			  			Correct % <span class="badge"><div id="ratio">-</div></span>
					</div>
					<div class="btn btn-success  btn-block" type="button">
			  			Sensitivity % <span class="badge"><div id="sensitivity">-</div></span>
					</div>
					<div class="btn btn-success  btn-block" type="button">
			  			Specificity % <span class="badge"><div id="specificity">-</div></span>
					</div>
					<div class="btn btn-success  btn-block" type="button">
			  			Accuracy % <span class="badge"><div id="accuracy">-</div></span>
					</div>
					<button onclick="new_session();" class="btn btn-danger btn-block" type="button">
						Start New Session
					</button> 
				</div>
			</div>




		</div>


		<div class="col-md-9">
			<form role="form" id="editform">
				<small>
				<div class="form-group">
					 
					<label for="uuid">
						UUID
					</label>
					<input type="text" readonly="readonly" class="form-control" name="uuid" id="uuid" />
				</div>
				<div class="form-group">
					 
					<label for="domain">
						domain
					</label>
					<input type="text" readonly="readonly" class="form-control" name="domain" id="domain" />
				</div>
				</small>
				<div class="form-group">
					 
					<label for="question">
						Question
					</label>
					<input type="text" class="form-control" name="question" id="question" placeholder="enter your question here, e.g. What is the meaning of life?"/>
				</div>
				<div class="form-group">
					 
					<label for="options">
						Options (comma-separated)
					</label>
					<input type="text" class="form-control" name="options" id="options" placeholder="comma-separated list of options, e.g. A,B,C"/>
				</div>
				<div class="form-group">
					 
					<label for="correct_opt">
						All correct options (comma-separated)
					</label>
					<input type="text" class="form-control" name="correct" id="correct_opt" placeholder="comma-separated list of CORRECT options, e.g. B,C"/>
				</div>
				<button type="button" class="btn btn-default" onclick="submit_edits();">
					Save
				</button>
			</form>
		</div>
	</div>
</div>
