$def with (data)

$var title: QuickVote Editor (Admin)

<script type="text/javascript">
	function choose(o) {
		console.log(o.id)
		$$.getJSON("$data['get_url']" + o.id, function(data) {
			$$("#uuid").val(data['uuid']);
			$$("#domain").val(data['domain']);
			$$("#question").val(data['question']);
			$$("#options").val(data['options']);
			$$("#correct").val(data['correct']);

		});
	}
	function new_question() {
		$$("#uuid").val("$data['new_uuid']");
		$$("#domain").val("$data['domain']");
		$$("#question").val("");
		$$("#options").val("");
		$$("#correct").val("");
		// empty form
		// var ctx = document.getElementById("resultChart").getContext("2d");

		// $$.getJSON('/results/$data', function (data) {
		// 	console.log(data);
		// 	var myBarChart = new Chart(ctx).Bar(data, {});
		// 	$$("textarea#comments").text(data['comments']);
		// });

	}

	function submit_edits() {
		console.log("save")
		var d = $$( "#editform" ).serialize()
		console.log(d)
		$$.post("$data['submit_url']", d);
		location.reload();
	}

</script>


<div class="row">
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Editor</h3>
  	</div>
  	<div class="panel-body">

		<div class="col-md-3">
			<div class="btn-group">
				 
				<button class="btn btn-default">
					Question
				</button> 
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a onclick="new_question();" href="#">New</a>
					</li>
					<li class="divider">
					$for q in data['existing_questions']:
						</li>
						<li>
							<a onclick="choose(this);" id="$q['uuid']" href="#">$q['question']</a>
						</li>
				</ul>
			</div>
<!--  			<div class="btn-group">

				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-center"></em> Center
				</button> 
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-right"></em> Right
				</button> 
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-justify"></em> Justify
				</button>
			</div>
 --> 			<div class="btn-group" role="group">
				<a href="$data['results_url']" target="_blank" class="btn btn-primary btn-block" type="button">
					Show Results
				</a> 
			</div>
		</div>
		<div class="col-md-9">
			<form role="form" id="editform">
				<div class="form-group">
					 
					<label for="uuid">
						UUID
					</label>
					<input type="text" readonly="readonly" class="form-control" name="uuid" id="uuid" />
				</div>
				<div class="form-group">
					 
					<label for="domain">
						domain
					</label>
					<input type="text" readonly="readonly" class="form-control" name="domain" id="domain" />
				</div>
				<div class="form-group">
					 
					<label for="question">
						Question
					</label>
					<input type="text" class="form-control" name="question" id="question" placeholder="enter your question here, e.g. What is the meaning of life?"/>
				</div>
				<div class="form-group">
					 
					<label for="options">
						Options (comma-separated)
					</label>
					<input type="text" class="form-control" name="options" id="options" placeholder="comma-separated list of options, e.g. A,B,C"/>
				</div>
				<div class="form-group">
					 
					<label for="correct">
						All correct options (comma-separated)
					</label>
					<input type="text" class="form-control" name="correct" id="correct" placeholder="comma-separated list of CORRECT options, e.g. B,C"/>
				</div>
				<button type="button" class="btn btn-default" onclick="submit_edits();">
					Save
				</button>
			</form>
		</div>
	</div>
</div>
