$def with (data)

$var title: QuickVote Editor (Admin)

<script type="text/javascript">
	/*function enable_paste() {
		document.getElementById('image').onpaste = function (event) {
		  // use event.originalEvent.clipboard for newer chrome versions
		  var items = (event.clipboardData  || event.originalEvent.clipboardData).items;
		  console.log(JSON.stringify(items)); // will give you the mime types
		  // find pasted image among pasted items
		  var blob = null;
		  for (var i = 0; i < items.length; i++) {
		    if (items[i].type.indexOf("image") === 0) {
		      blob = items[i].getAsFile();
		    }
		  }
		  // load image if there is a pasted image
		  if (blob !== null) {
		    var reader = new FileReader();
		    reader.onload = function(event) {
		      console.log(event.target.result); // data url!
		      document.getElementById("pastedImage").src = event.target.result;
		      document.getElementById("image").value = event.target.result;
		    };
		    reader.readAsDataURL(blob);
		  }
		}
	}*/

	var ctrlPressed = false;
	var readingDom = false;
	var resizeCanvas = false;
	var pasteCatcher;
	var pasteMode;

	function choose(id) {
		param = {
		}
		$$.getJSON("$data['get_url']" + id, param, function(data) {
			$$("#uuid").val(data['uuid']);
			$$("#domain").val(data['domain']);
			$$("#question").val(data['question']);
			$$("#options").val(data['options']);
			//$$("#image").val(data['image']);
			$$('#base64Image').val(data['image']);
			$$("#correct_opt").val(data['correct']);
			$$("#active_question").text(data['question'].substring(0,32));

		    //document.getElementById("pastedImage").src = data['image'];
			drawImage(data['image']);

			// if (results_source != null) {
			// 	results_source.close();
			// }
			// results_source = new EventSource("$data['get_results_url']" + data['uuid']);

			// results_source.onmessage = function(event) {
			//     update_results(JSON.parse(event.data));
			// };


		});
	}

	function new_session() {
		var question_uuid = $$("#uuid").val();
		console.log("new session for " + question_uuid)
		$$.post("$data['delete_url']" + question_uuid, function(data) {
			choose(question_uuid);
		});

	}

	function new_question() {
		$$("#uuid").val("$data['new_uuid']");
		$$("#domain").val("$data['domain']");
		$$("#question").val("");
		$$("#options").val("");
		$$("#correct_opt").val("");
	}

	function submit_edits() {
		console.log("save")
		var d = $$( "#editform" ).serialize()
		$$.post("$data['submit_url']", d, function() {
			location.reload();
		});
	}

	function delete_question(){
		//TODO: Data validation
		var questionName = $$("#question").val();
		var toPost = $$("#editform").serialize();

		bootbox.dialog({
			message: "Are you sure you want to delete the question \""+questionName+"\"",
			title: "Confirm deletion",
			show: true,
			backdrop: true,
			closeButton: true,
			animate: true,
			className: "my-modal",
			buttons: {
				"Yes, delete": {
					className: "btn-success",
					callback: function() {
						//They are sure
						toPost = toPost + "&delete_question=true"; //Make sure the app knows we confirmed and want to delete
						console.log(toPost);
						$$.post("$data['submit_url']", toPost, function() {
							location.reload();
						});
					}
				},
				"No, don't delete": {
					className: "btn-danger"
				}
			}
		});
	}

	//Function used to read image uploaded using the "upload" button.
	function readImage(){
		if (this.files && this.files[0]) {
		    var fileReader = new FileReader();
			console.log("Reading file: "+ this.files[0].name);
			$$('#selectedImage').val(this.files[0].name); // Show user that we're reading their file
		    fileReader.onload = function(e) {
				//console.log("Loaded fileReader");
				//$$('#base64Image').val (e.target.result); // Set the data we're sending to the server
				//$$('#pastedImage').attr('src', e.target.result); //
				drawImage(e.target.result);
		    };
		    fileReader.readAsDataURL( this.files[0] );
		}
	}

	function drawImage(imageData){
		var img = new Image;
		var canvas = document.getElementById("image_canvas");
		var context = canvas.getContext("2d");
		$$('#base64Image').val (imageData);

		img.onload = function(){
			if (resizeCanvas == true){
				canvas.width = img.width;
				canvas.height = img.height;
				context.clearRect(0,0,canvas.width, canvas.height);
				context.drawImage(img, 0, 0);
			}else{
				var hRatio = canvas.width  / img.width;
				var vRatio =  canvas.height / img.height;
				var ratio  = Math.min ( hRatio, vRatio );
				var centerShift_x = ( canvas.width - img.width*ratio ) / 2;
				var centerShift_y = ( canvas.height - img.height*ratio ) / 2;
				context.clearRect(0,0,canvas.width, canvas.height);
				context.drawImage(img, 0,0, img.width, img.height,
					   centerShift_x,centerShift_y,img.width*ratio, img.height*ratio);
			}
		}

		img.src = imageData;
	}

	$$(document).ready(function () {
		//Old upload method
		//enable_paste();
		//New upload method
		$$("#image").on("change", readImage);

		//Handlers for image pasting
		document.addEventListener('keydown', function(e){
			onKeyPress(e);
		}, false); //Firefox fix
		document.addEventListener('keyup', function(e){
			onKeyReleased(e);
		}, false); //Firefox
		document.addEventListener('paste', function(e){
			officialPaste(e);
		}, false); // official paste handler

		if ("$data['active_question']" != "")
			choose("$data['active_question']");

		if(window.Clipboard) // We can use the offical paste handler
			return;

		console.log("Having to create pasteCatcher");
		pasteCatcher = document.createElement("div");
		pasteCatcher.setAttribute("id", "paste_firefox");
		pasteCatcher.setAttribute("contenteditable", "");

		pasteCatcher.style.cssText = "opacity: 0; position: fixed; top: 0px; left: 0px;";
		pasteCatcher.style.marginLeft = "-20px";
		pasteCatcher.style.width = "10px";

		document.body.appendChild(pasteCatcher);

		document.getElementById("paste_firefox").addEventListener("DOMSubtreeModified", function(){
			if (pasteMode == 'auto' || ctrlPressed == false)
				return true;
			//if paste handle failed - capture pasted object manually
			if (pasteCatcher.children.length == 1) {
				if (pasteCatcher.firstElementChild.src != undefined) {
					//image
					drawImage(pasteCatcher.firstElementChild.src);
				}
			}
			//register cleanup after some time.
			setTimeout(function () {
				pasteCatcher.innerHTML = '';
			}, 20);
		}, false);
	});

	function officialPaste(e){
		pasteMode = "";
		pasteCatcher.innerHTML = "";
		var textUsed = false;
		if (e.clipboardData){
			var items = e.clipboardData.items;
			if (items){
				pasteMode = "auto";

				for(var i = 0; i < items.length; i++){
					if (items[i].type.indexOf("image") !== -1){
						//It's an image
						var blob = items[i].getAsFile();
						var reader = new FileReader();
						reader.readAsDataURL(blob);
						reader.onloadend = function() {
							drawImage(reader.result);
						}
					}
				}

				e.preventDefault();
			}else{
				//wait for DOMSubtreeModified event
				//https://bugzilla.mozilla.org/show_bug.cgi?id=891247
			}
		}
	}
	function onKeyPress(e){
		k = e.keyCode;
		if(k == 17 || e.metaKey || e.ctrlKey){ //ctrl key was  pressed
			if (ctrlPressed == false){
				ctrlPressed = true;
			}
		}

		if(k == 86){ // v
			if (document.activeElement != undefined && document.activeElement.type == "text"){
				return true;// Allow the user to paste into some input
			}
			if (ctrlPressed == true && !window.Clipboard){
				pasteCatcher.focus();
			}
		}
	}
	function onKeyReleased(e){
		k = e.keyCode;
		if(k == 17 || e.metaKey || e.ctrlKey || e.key == "Meta"){ //ctrl key was  pressed
			ctrlPressed = false;
		}
	}



</script>


<div class="row">
	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Editor</h3>
  	</div>
  	<div class="panel-body">

		<div class="col-md-12">
			<div class="btn-group">
				<button id="active_question" class="btn btn-default">
					Question
				</button>
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu scrollable-menu">
					<li>
						<a onclick="new_question();">New</a>
					</li>
					<li class="divider">
					$for q in data['existing_questions']:
						</li>
						<li>
							<a onclick="choose(this.id);" id="$q['uuid']">$q['question']</a>
						</li>
				</ul>
			</div>

			<form role="form" id="editform">
				<small>
				<div class="form-group">

					<label for="uuid">
						UUID
					</label>
					<input type="text" readonly="readonly" class="form-control" name="uuid" id="uuid" />
				</div>
				<div class="form-group">

					<label for="domain">
						domain
					</label>
					<input type="text" readonly="readonly" class="form-control" name="domain" id="domain" />
				</div>
				</small>
				<div class="form-group">

					<label for="question">
						Question
					</label>
					<input type="text" class="form-control" name="question" id="question" placeholder="enter your question here, e.g. What is the meaning of life?"/>
				</div>
					<div class="media">
					  	<div class="media-body">
							<div class="form-group">

								<label for="image">
									Image
								</label>
								<!-- Old upload method
								<input type="text" class="media-heading " name="image" id="image" placeholder="paste any image here"/>
								-->
								<div class="input-group">
									<input id="selectedImage" placeholder="Choose File" disabled="disabled" />
									<div class="fileUpload btn btn-primary" style="clear: both;">
									    <span>Upload Image</span>
									    <input id="image" type="file" accept="image/*" class="upload" />
									</div>
									<p>or Paste image below (Select and press Ctrl+V)</p>

									<!-- To make sure the image data gets sent to the server -->
									<input type="text" name="image" id="base64Image" readonly hidden />
								</div>
							</div>
						  	<div class="media-right">
								<canvas style="border:1px solid grey;" id="image_canvas" width="300" height="200"></canvas>
				      			<!--<img  height="200px" class="media-object" id="pastedImage"/>-->
						  	</div>
					</div>
				</div>
				<div class="form-group">

					<label for="options">
						Options (comma-separated)
					</label>
					<input type="text" class="form-control" name="options" id="options" placeholder="comma-separated list of options, e.g. A,B,C"/>
				</div>
				<div class="form-group">

					<label for="correct_opt">
						All correct options (comma-separated)
					</label>
					<input type="text" class="form-control" name="correct" id="correct_opt" placeholder="comma-separated list of CORRECT options, e.g. B,C"/>
				</div>
				<button type="button" class="btn btn-default" onclick="submit_edits();">
					Save
				</button>
				<button type="button" class="btn btn-danger" onclick="delete_question();">
					Delete
				</button>
			</form>
		</div>
	</div>
</div>
