$def with (DL,IL)
$var title: Quick Vote Home
$var loggedIn: $:IL

	$if IL == True:
		<div class="row">
			<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">Manage My Domains</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<p>Listed Bellow are all of the domains you have authorization to manage. Follow the domain name link to manage this domain. If you have Editor permission you can add, edit and remove questions as well as being able to view the domain and look at the session history. If you have Coord permission you are a Coordinator and you can do all that an Editor can do whilst also managing which Users have editor permission on the domain. Admin permission gives you access to everything including being able to delete domains.</p>
					$for element in DL:
						<a class="panel-title domain" href="/$:element[0]/manage">$:element[0]</a>
						<p class="domain">Last Active: xx:xx xx/xx/xx | Last Edited By: xxxx | Last Edited xx:xx xx/xx/xx | My Permissions: xxxx</p>
					</table>
				</div>
			</div>
			</div>
		</div>
	<div class="row">
				<div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">List of all Domains</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
				<p>Listed Bellow are all of the domains currently being hosted. Follow the domain name link to submit
				an answer to the active question on that domain. The domains bellow are listed by the most active first. This can be because it was edited recently or because the current question has recently been answered.</p>
				$for element in DL:
					<a class="panel-title domain" href="/$:element[0]/">$:element[0]</a>
					<p class="domain">Last Active: $:element[1] | Active Question: $:element[2]</p>
				</table>
			</div>
		</div>
		</div>
	</div>
