$def with (DL,IL)
$var title: Quick Vote Home
$var loggedIn: $:IL
	
	$if IL == True:
		<div class="row">
			<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">Manage My Domains</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<table class="domain panel panel-default">
						<tr class="domain panel-heading"><th>Domain Name</th><th>Last Active</th></tr>
					$for element in DL:
						<tr><td><a href="/$:element/">$:element</a></td><td>placeholder</td></tr>
					</table>
				</div>
			</div>
			</div>
		</div>

	<div class="row">
        <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title">List of Domains</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
				<table class="domain panel panel-default">
					<tr class="domain panel-heading"><th>Domain Name</th><th>Last Active</th></tr>
				$for element in DL:
					<tr><td><a href="/$:element/">$:element</a></td><td>placeholder</td></tr>
				</table>
			</div>
		</div>
		</div>
	</div>