$def with (domain, LI, A, Access)
$var title: $:domain
$var loggedIn: $:LI

$if A:
	<div class="row">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Admin options for $:domain</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<div class="form-group">

							<label for="Username">
								Domain Name
							</label>
							<input type="text" class="form-control" name="Username" id="username" placeholder="Enter New Domain Name" value="$:domain"/>
						</div>
						<button type="button" class="btn btn-default" id="Submit">
								Save
						</button>
						<p id="reply" style="color:rgb(255,0,0);margin-top:10px;"></p>
				</div>
			</div>
		</div>
	</div>
$if LI:
	<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
        	<h3 class="panel-title">Editor options for $:domain</h3>
        </div>
        <div class="panel-body">
					<div class="col-md-12">
						<div class="form-group">
							<a class="domain" href="/$:domain/editor">Edit Domain Questions</a>
							<a class="domain" href="/$:domain/view">View Active Question</a>
							<a class="domain" href="/$:domain/history">Review Past Votes</a>
						</div>
				</div>
			</div>
		</div>
	</div>
$if A or Access == "Coord":
	<div class="row">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manage Users for $:domain</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">


						<div class="form-group">

							<label for="Username">
								Users with Editor Permissions
							</label>
							<div class="form-group">
								<input type="text" class="form-control" name="Username" id="username" style="width:91.666%;float:left;"placeholder="Enter New Domain Name" value="$:domain"/>
								<button style="color:#ff0000;float:right;width:7%;min-width:50px;" class="btn btn-default"><span style="width:100%;text-align:center;" class="glyphicon glyphicon-remove"></span></button>
							</div>
							<button type="button" class="btn btn-primary" id="Submit">
									Submit Changes
							</button>
						</div>


						<p id="reply" style="color:rgb(255,0,0);margin-top:10px;"></p>
				</div>
			</div>
		</div>
	</div>
	<script>
		$$("#Submit").click(submit);
		$$("#password").keydown(function(event) {
			if (event.which == 13) {
				submit();
			}
		});
		$$("#username").keydown(function(event) {
			if (event.which == 13) {
				submit();
			}
		});
		function submit() {
			var data = $$("#loginform").serialize();
			$$.ajax({
			type: "POST",
			data: data,
			success: function(reply) {
				if (reply == "Success") {
					location.assign('/');
					return
				}
				$$("#reply").text(reply);


			}
			});
			return false;
		}
	</script>
