$def with (base,domain, LI, A, Access, Editors, Coordinators, usrs)
$var title: $:domain
$var loggedIn: $:LI
$var base: $:base

$if A:
	<div class="row">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Admin options for $:domain</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<div class="form-group">

							<label for="Username">
								Domain Name
							</label>
							<input type="text" class="form-control" name="Username" id="username" placeholder="Enter New Domain Name" value="$:domain"/>
						</div>
						<script>
						function changedomainname() {
							var d = $$('#username').val();
							$$.ajax({
							type: "POST",
							url:	"/Update/EditDom/"+d,
							success: function(reply) {
								if(reply == "success") {location.assign("$(base)"+d+"/manage");}
							}
							});
						}
						</script>
						<button type="button" class="btn btn-primary" onclick="changedomainname();">
								Save
						</button>

				</div>
			</div>
		</div>
	</div>
$if LI:
	<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
        	<h3 class="panel-title">Editor options for $:domain</h3>
        </div>
        <div class="panel-body">
					<div class="col-md-12">
						<div class="form-group">
							<a class="domain" href="$(base)$:domain/editor">Edit Domain Questions</a>
							<a class="domain" href="$(base)$:domain/view">View Active Question</a>
							<a class="domain" href="$(base)$:domain/history">Review Past Votes</a>
						</div>
				</div>
			</div>
		</div>
	</div>
$if A or Access == "Coord":
	<div class="row">
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Manage Users for $:domain</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">


						<div class="form-group">

							<label for="Username">
								$if Access == "Coord":
									Manage Editors
								$if A:
									Manage All Users
							</label>
							<div class="form-group">
								<datalist id="user-list">
								$for u in usrs:
									<option value="$:u">
								</datalist>
									<form id="editor-usr">


									</form>
									<script>
										var AvaUserList = [
												""
											$for u in usrs:
												,"$:u"
										];
										var unique_id_number = -1;

										function CreateId(start) {
											unique_id_number++;
											return start + unique_id_number;
										}

										// list of editors from db
										var editors = [
											$if Editors != None:
												$for i in Editors:
													$if A:
														["$:i[0]","$:i[1]"],
													$else:
														"$:i",
											$if A:
												["","Editor"]
											$else:
												""
										];
										function AvaTest(id,val) {
											// test if user exists
											if(AvaUserList.indexOf(val) == -1) {
												$$("#"+id).css("background","#FFAAAA");
												return false;
											}
											return true;
										}
										/* Send usr list to server */
										$if Access == "Coord":
											function CoordSendUsrs() {
												var eles = $$("#editor-usr").children();
												data = "";
												ATret = true;
												// all inputs except the empty end input
												for (var i = 0; i < eles.length-1; i++) {
													if(!AvaTest(eles[i].id,eles[i].value) && ATret) {
														ATret = false;
													}

													if (i != 0) {
														data += "&";
													}
													data += i+"="+ eles[i].value;
												}
												if(!ATret) {return;}
												$$.ajax({
												type: "POST",
												data: data,
												url:	"/$:domain/manage/update",
												success: function(reply) {
														$$("#reply").fadeOut("slow",
															$$("#reply").text(reply,
																$$("#reply").fadeIn("slow")
															)
														);
														return;
													}
													//$$("#reply").text(reply);

											});
											}
										$if A:
		 									 function AdminSendUsrs() {
		 										 var eles = $$("#editor-usr").children(".names");
												 ATret = true;
		 										 data = "";
		 										 // all inputs except the empty end input
		 										 for (var i = 0; i < eles.length-1; i++) {
													 if(!AvaTest(eles[i].id,eles[i].value) && ATret) {
														 ATret = false;
													 }

		 											 if (i != 0) {
		 												 data += "&";
		 											 }
		 											 data += i+"="+ eles[i].value;
													 data += "&drop"+i+"="+$$("#drop"+eles[i].id).val();
		 										 }
												 if(!ATret) {return;}
		 										 $$.ajax({
		 										 type: "POST",
		 										 data: data,
		 										 url:	"/$:domain/manage/update",
		 										 success: function(reply) {
		 												 $$("#reply").fadeOut("slow",
		 													 $$("#reply").text(reply,
		 														 $$("#reply").fadeIn("slow")
		 													 )
		 												 );
		 												 return;
		 											 }
		 											 //$$("#reply").text(reply);

		 									 });
		 									 }

										/* Check state of input in list*/
										function EditList() {
											// check content of children of usr list
											var eles = $$("#editor-usr").children(".names");
											for (var i = 0; i < eles.length; i++) {
												// delete empty inputs if not last element
												if (eles[i].value == "" && i != eles.length - 1) {
													$$("#"+eles[i].id).fadeOut("slow" ,$$("#"+eles[i].id).remove());

													$if A:
														$$("#drop"+eles[i].id).fadeOut("slow" ,$$("#drop"+eles[i].id).remove());
												}

												// add new input if last element is not empty
												if (i == eles.length - 1 && eles[i].value != "") {
													InsertListInput("");
												}

											}
										}
										$if Access == "Coord":
											function InsertListInput(value) {
												var id = CreateId("usr");
												$$('#editor-usr').append($$("<input list=\"user-list\" id=\""+id+"\" onkeyup=\"EditList();\" style=\"margin-top:5px;\" class=\"names form-control\" placeholder=\"Enter Userame\" value=\""+value+"\"/>").hide().fadeIn("slow"));
											}
										$if A:
											function InsertListInput(value,role) {
												var id = CreateId("usr");
												$$('#editor-usr').append($$("<input list=\"user-list\" id=\""+id+"\" onkeyup=\"EditList();\" style=\"margin-top:5px;float:left;width:70%;\" class=\"names form-control\" placeholder=\"Enter Userame\" value=\""+value+"\"/>").hide().fadeIn("slow"));
												$$('#editor-usr').append($$("<select id=\"drop"+id+"\" style=\"margin-top:5px;margin-left:1%;float:left;width:29%;\" class=\"btn btn-default\"><option value=\"Editor\">Editor</option><option value=\"Coord\">Coordinator</option></select>").hide().fadeIn("slow"));
												$$("#drop"+id).val(role);

											}
										// output list when ready
										$$("document").ready(function() {

											for(var i = 0; i < editors.length; i++) {
												$if Access == "Coord":
													InsertListInput(editors[i]);
												$if A:
													InsertListInput(editors[i][0],editors[i][1]);
											}
										});

									</script>
							</div>
							<button type="button" class="btn btn-primary" style="float:right;margin-top:15px;"
							$if Access == "Coord":
								onclick="CoordSendUsrs();"
							$if A:
								onclick="AdminSendUsrs();"
							>
									Submit Changes
							</button>
						</div>



				</div>
			</div>
			<p id="reply"></p>
		</div>

	</div>
	<script>
		$$("#Submit").click(submit);
		$$("#password").keydown(function(event) {
			if (event.which == 13) {
				submit();
			}
		});
		$$("#username").keydown(function(event) {
			if (event.which == 13) {
				submit();
			}
		});
		function submit() {
			var data = $$("#loginform").serialize();
			$$.ajax({
			type: "POST",
			data: data,
			success: function(reply) {
				if (reply == "Success") {
					location.assign('$(base)');
					return
				}
				$$("#reply").text(reply);


			}
			});
			return false;
		}
	</script>
