$def with (base,domain,LI)
$var base: $:base
$var title: QuickVote.
$var loggedIn: $:LI

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">
		    		Welcome to QuickVote
		    	</h3>
		  	</div>
		  	<div class="panel-body">
		  		<p>You are about to take part in "$domain" session.</p>

					<button onclick="location.reload();" class="btn btn-primary btn-lg btn-block">Continue</button>
		  	</div>
		</div>
	</div>
</div>
