$def with (base,data,LI)
$var base: $:base
$var title: QuickVote Results
$var loggedIn: $:LI


<script type="text/javascript">

	last_data = null;
	var race_background = new Image();
	var rocket_off = new Image();
	var rocket_on = new Image();
	var rocket = new Image();
	var fuel_tank = new Image();
	var rocket_state = true;
	var rr_canvas;
	var rr_ctx;
	var race_interval;
	var rocket_list = [];
	var enableRockets = false;
	var rocket_team_size = 0; //the desired team size where the rocket will start flying if this is met
	var question = "";

	function loadImages() {
		race_background.src = "https://image.ibb.co/ieLekH/sai_Uf_L2_space_star_background.png";
		rocket_off.src = "https://image.ibb.co/j6haQH/cohete_off.png";
		rocket_on.src = "https://image.ibb.co/nvbrzc/cohete_on_wf.png";
		fuel_tank.src = "https://image.ibb.co/kZAj77/fuel_24_2x.png";
	}

	function new_session() {
		var question_uuid = "$data['active_question']";
		console.log("new session for " + question_uuid)
		$$.post("$data['delete_url']" + question_uuid, function(data) {
			choose(question_uuid);
		});

	}

	function update() {
		param = {
		};
		$$.getJSON("$data['activate_question_url']" + "$data['active_question']", param, function(data) {
			$$("#active_question").text(data['question'].substring(0,32));
			if (data['image']) {
				document.getElementById('qimage').src=data['image'];
			}
		});

	}

	function choose(id) {
		param = {
			'activate': true
		};
		$$.getJSON("$data['activate_question_url']" + id, param, function(data) {
			$$("#active_question").text(data['question'].substring(0,32));

			location.reload();
		});

	}

	function display_chart(data) {
		var ctx = document.getElementById("resultChart").getContext("2d");


		chart_obj = new Chart(ctx).Bar(data, {legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"color:<%=datasets[i].fillColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
		    animation: false
		});
		$$("div#legend").html(chart_obj.generateLegend())
		$$("textarea#feedback").text(data['comments']);

	}

	function display_user_chart(data) {
		var ctx = document.getElementById("userChart").getContext("2d");


		chart_obj = new Chart(ctx).Bar(data['userChart'], {legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"color:<%=datasets[i].fillColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
		    animation: false
		});

	}

	function update_chart(data) {
		// Get the context of the canvas element we want to select

		last_data = data;
		$$("h3#question").text(data['question'])
		$$("#active_question").text(data['question'])
		$$("div#total").text(data['totals'])
		$$("div#correct").text(data['corrects'])
		// change colour according to level later on:
		//$$("div#ratio").parent().parent().attr('class', 'btn btn-lg btn-block btn-warning')
		$$("div#ratio").text(data['percent'])
		$$("div#sensitivity").text(data['sensitivity'])
		$$("div#specificity").text(data['specificity'])
		$$("div#accuracy").text(data['accuracy'])

		if ($$("#display_toggle").prop('checked')) {
			display_chart(data);
		}
		display_user_chart(data);
		console.log(data);
	}

	function update_race(data) {
		//number of teams:
		team_array = data['userChart'].labels;
		var team_size = data['group_size'];
		team_correctness = data['userChart'].datasets[1].data;
		if (team_array != undefined) {
				for (var i = 0; i < team_array.length; i++) {
					found = false;

					if (team_array[i] == 0) {
						x_pos = 120;
					} else {
						x_pos = 120 + (parseInt(team_array[i]) * 100);
					}

					if (rocket_list.length == 0) {
						rocket_list.push({index: parseInt(team_array[i]), x_coord: x_pos, group_correct: team_correctness[i], current_y_coord: 650, group_size: team_size[parseInt(team_array[i])]})
						create_rocket(parseInt(team_array[i]), x_pos);
					}

					for (var j = 0; j < rocket_list.length; j++) {
						if (rocket_list[j].index == parseInt(team_array[i])) {
							found = true
							break;
						}
					}

					if (!found) {
						rocket_list.push({index: parseInt(team_array[i]), x_coord: x_pos, group_correct: team_correctness[i], current_y_coord: 650, group_size: team_size[parseInt(team_array[i])]})
						create_rocket(parseInt(team_array[i]), x_pos);
					}
					//these values need to be updated every time data comes in incase there is any changes
					rocket_list[i].group_correct = team_correctness[i];
					rocket_list[i].group_size = team_size[parseInt(team_array[i])];
				}
				calculate_ycoord();
		}
	}

	function display_fuel(index, x_coord) {
		 var divBody = document.getElementById("rocketRaceFuel");

			var progressBar = document.createElement("div");
			progressBar.className = "progress";
			progressBar.id = "progress" + index;
			progressBar.style = "transform:rotate(270deg); width:200px; display:inline-block; margin-top:100px; height:30px ";
			progressBar.style.marginLeft = (index == 0 ? "-40px" : "-120px");
			progressBar.style.top = "50px";
			divBody.append(progressBar);

			var inner = document.createElement("div");
			inner.className = "progress-bar progress-bar-warning";
			inner.setAttribute("role", "progressbar");
			progressBar.appendChild(inner);

			var percentageText = document.createElement("div");
			percentageText.color = "black";
			percentageText.position = "relative";
			progressBar.appendChild(percentageText);
	}

	function calculate_fuel() {
			for (var i = 0; i < rocket_list.length; i++) {
				try {
					var percent = (rocket_list[i].group_size / rocket_team_size) * 100;
					var outer = document.getElementById("progress" + rocket_list[i].index.toString());
					var inner = outer.children[0];
					percent = percent > 100 ? 100 : percent;
					inner.style.width = percent + "%";
					var percentageText = outer.children[1];
					percentageText.innerText = percent + "% Full";


				} catch(e) {

				}

			}
	}

	function display_team_race() {
		rr_ctx.drawImage(race_background,0,0);
		update_race(last_data);
//		display_fuel();
	}

	function create_rocket(index, x_coord) {
		rr_ctx.drawImage(rocket_off,x_coord,650,50,90);
		display_fuel(index, x_coord);
	}

	function calculate_ycoord() {
			for (var i = 0; i < rocket_list.length; i++) {
				var y_coord = rocket_list[i].group_correct * 800;
				y_coord = 800 - y_coord;
				if (rocket_list[i].y_coord != y_coord) {
					rocket_list[i].y_coord = y_coord;
					rocket_list[i].y_changed = true;
				} else {
					rocket_list[i].y_changed = false;
				}
				rocket_list[i].y_coord = rocket_list[i].y_coord > 650 ? 650 : rocket_list[i].y_coord;
			}
			race_interval = setInterval(function() {
				display_rockets();
			}, 300);
	}

	function display_rockets() {

		 updateFrame(0,0);

 	   calculate_fuel();
		 for (var i = 0; i < rocket_list.length; i++) {

			 var reachedTarget = false
			 if (rocket_list[i].y_coord > rocket_list[i].current_y_coord) {
				 //team answered incorrect answer - rocket needs to go down
				 var distanceTravel = 2 * (rocket_list[i].current_y_coord / rocket_list[i].y_coord);
		 		 distanceTravel = distanceTravel == 0 ? 5 : distanceTravel;
				 travelDown(i, distanceTravel);
			 } else {
				 //team answered correct answer - rocket needs to go up
				 var distanceTravel = 2 * (rocket_list[i].current_y_coord / rocket_list[i].y_coord);
		 		 distanceTravel = distanceTravel == 0 ? 5 : distanceTravel;
				 travelUp(i, distanceTravel);
			 }
		 }
	}

	function travelUp(i, distanceTravel) {
		if (rocket_list[i].y_changed == true || Math.round(rocket_list[i].y_coord) < Math.round(rocket_list[i].current_y_coord)) {
				updateFrame(rocket_list[i].x_coord, rocket_list[i].current_y_coord);
				rocket_list[i].current_y_coord = rocket_list[i].current_y_coord - distanceTravel;
				rr_ctx.drawImage(rocket_on, rocket_list[i].x_coord, rocket_list[i].current_y_coord, 50,120);

		} else {
			updateFrame(rocket_list[i].x_coord, rocket_list[i].y_coord)
			rr_ctx.drawImage(rocket_off, rocket_list[i].x_coord, rocket_list[i].y_coord, 50,90);
			clearInterval(race_interval);
		}
	}

	function travelDown(i, distanceTravel) {
		if (rocket_list[i].y_changed == true || Math.round(rocket_list[i].y_coord) > Math.round(rocket_list[i].current_y_coord)) {
				updateFrame(rocket_list[i].x_coord, rocket_list[i].current_y_coord);
				rocket_list[i].current_y_coord = rocket_list[i].current_y_coord + distanceTravel;
				rr_ctx.drawImage(rocket_on, rocket_list[i].x_coord, rocket_list[i].current_y_coord, 50,120);

		} else {
			updateFrame(rocket_list[i].x_coord, rocket_list[i].y_coord)
			rr_ctx.drawImage(rocket_off, rocket_list[i].x_coord, rocket_list[i].y_coord, 50,90);
			clearInterval(race_interval);
		}
	}

	function updateFrame(x_pos, y_pos) {
		if (rocket_state == true) {
			rocket = rocket_on;
		} else {
			rocket = rocket_off;
		}
		rr_ctx.drawImage(race_background,x_pos,y_pos, 50, 140,x_pos,y_pos, 50, 140);
	}

	$$(document).ready(function () {
			update();
			loadImages();

			rr_canvas = document.getElementById("rocketRace");
			rr_ctx = rr_canvas.getContext("2d");
			Chart.defaults.global.responsive = true;

//				$$.getJSON("$data['get_url']", function (data) {

			var source = new EventSource("$data['get_url']");
			source.onmessage = function(event) {
			    update_chart(JSON.parse(event.data));
					if (enableRockets) {
						update_race(JSON.parse(event.data));
					}
			};

			$$('#display_toggle').change(function() {
				if ($$(this).prop('checked')) {
      				document.getElementById("histogram").hidden = false;
      				if (last_data != null)
      					display_chart(last_data);
      				} else {
      					document.getElementById("histogram").hidden = true;

      				}
    			});

  		$$('#comment_toggle').change(function(){
          if ($$(this).prop("checked")){
              //They want to show comments
              document.getElementById("comments").hidden = false;
          }else{
              document.getElementById("comments").hidden = true;
          }
        });

				$$('#rocket_race').change(function(){
						if ($$(this).prop("checked")){
								//They want to show the rocket race
								document.getElementById("userChartContainer").hidden = true;
								document.getElementById("rocketRaceContainer").hidden = false;
								rocket_team_size = prompt("Please enter the size of teams desired before the rockets start flying:", "5");

								if (rocket_team_size == 0 || rocket_team_size == "" || rocket_team_size == null) {
									rocket_team_size = 1;
								} else {
									rocket_team_size = parseInt(rocket_team_size);
								}

								enableRockets = true;
								display_team_race();
						}else{
								document.getElementById("userChartContainer").hidden = false;
								document.getElementById("rocketRaceContainer").hidden = true;
								enableRockets = false;
								if (last_data != null)
	      					update_chart(last_data);
						}
					});
		}
	)
</script>

<div class="row clearfix">

	<div class="col-md-3 column">
		<div class="panel panel-default">

		  	<div class="panel-heading">
		    	<h3 class="panel-title">Stats</h3>
		  	</div>
		  	<div class="panel-body">

				<div class="btn btn-primary btn-lg btn-block" type="button">
		  			Total <span class="badge"><div id="total">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Correct <span class="badge"><div id="correct">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Correct % <span class="badge"><div id="ratio">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Sensitivity % <span class="badge"><div id="sensitivity">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Specificity % <span class="badge"><div id="specificity">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Accuracy % <span class="badge"><div id="accuracy">-</div></span>
				</div>
				<div id="legend"></div>
			</div>
		</div>
		<div class="panel panel-default">

		  	<div class="panel-heading">
		    	<h3 class="panel-title">QR Code</h3>
		  	</div>
		  	<div class="panel-body">
		  		<a href="https://api.qrserver.com/v1/create-qr-code/?size=1000x1000&data=$data['vote_url']">
		  			<img src="https://api.qrserver.com/v1/create-qr-code/?size=240x240&data=$data['vote_url']" alt="QR code" width="100%">
		  		</a>
		  	</div>
	  	</div>
		<button onclick="new_session();" class="btn btn-danger btn-block" type="button">
						Start New Session
					</button>

	</div>
	<div class="col-md-9 column">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Question</h3>
	    	</div>
		  	<div class="panel-body">
				<div class="btn-group">
					<button id = "active_question" class="btn btn-default">
						Question
					</button>
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu scrollable-menu">
						$for q in data['existing_questions']:
							<li>
								<a onclick="choose(this.id);" id="$q['uuid']">$q['question']</a>
							</li>
					</ul>
				</div>
				<br/>
				<img class="img-responsive" id="qimage">
			</div>
		</div>


		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">
		  		<div class="checkbox-inline">
				  <label>
				    <input id="display_toggle" type="checkbox" data-toggle="toggle">
				    Responses Plot
				  </label>
				</div>

        <div class="checkbox-inline">
            <label>
                <input id="comment_toggle" type="checkbox" data-toggle="toggle">
                Display Comments
          </label>
        </div>

				<div class="checkbox-inline">
				<label>
					<input id="rocket_race" type="checkbox" data-toggle="toggle">
					Rocket Race
				</label>
			</div>

		    	</h3>
		  	</div>
		  	<div class="panel-body">
		  		<h3 id="question" class="panel-title">Question</h3>

		  		<div id="histogram" >
    		  		    <canvas style="padding: 0;
								margin: auto;
								display: block;
								width: 600px;" id="resultChart" width="500" height="300"></canvas>
				</div>
				<div id="comments" hidden>
				    <textarea id="feedback" style="resize: none;overflow-y: scroll;" class="form-control" rows="5"></textarea>
				</div>
		  	</div>
	  	</div>
		<div class="panel panel-default" id="userChartContainer">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Team Performance
		    	</h3>
		  	</div>
		  	<div class="panel-body">
		  		<canvas style="padding: 0;
								margin: auto;
								display: block;
								width: 100%;" id="userChart" width="1000" height="800"></canvas>
		  	</div>
			</div>
			<div class="panel panel-default" id="rocketRaceContainer" hidden="true">
					<div class="panel-heading">
						<h3 class="panel-title">Team Performance
						</h3>
					</div>
				<div class="panel-body">
		  		<canvas style="padding: 0;
								margin: auto;
								width: 100%" id="rocketRace" width="1000" height="800"></canvas>
		  	</div>
				<div class="panel-body" id="rocketRaceFuel" style="width:1000px; height:300px">
					<img src="https://image.ibb.co/kZAj77/fuel_24_2x.png" style="position:relative">
				</div>
			</div>

	</div>
</div>
