$def with (base,data,LI)
$var base: $:base
$var title: QuickVote Results
$var loggedIn: $:LI

<script type="text/javascript">

	last_data = null;

	function new_session() {
		var question_uuid = "$data['active_question']";
		console.log("new session for " + question_uuid)
		$$.post("$data['delete_url']" + question_uuid, function(data) {
			choose(question_uuid);
		});

	}

	function update() {
		param = {
		};
		$$.getJSON("$data['activate_question_url']" + "$data['active_question']", param, function(data) {
			$$("#active_question").text(data['question'].substring(0,32));
			if (data['image']) {
				document.getElementById('qimage').src=data['image'];
			}
		});

	}

	function choose(id) {
		param = {
			'activate': true
		};
		$$.getJSON("$data['activate_question_url']" + id, param, function(data) {
			$$("#active_question").text(data['question'].substring(0,32));

			location.reload();
		});

	}

	function display_chart(data) {
		var ctx = document.getElementById("resultChart").getContext("2d");


		chart_obj = new Chart(ctx).Bar(data, {legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"color:<%=datasets[i].fillColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
		    animation: false
		});
		$$("div#legend").html(chart_obj.generateLegend())
		$$("textarea#feedback").text(data['comments']);

	}

	function display_user_chart(data) {
		var ctx = document.getElementById("userChart").getContext("2d");


		chart_obj = new Chart(ctx).Bar(data['userChart'], {legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li style=\"color:<%=datasets[i].fillColor%>\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
		    animation: false
		});

	}

	function update_chart(data) {
		// Get the context of the canvas element we want to select

		last_data = data;
		$$("h3#question").text(data['question'])
		$$("#active_question").text(data['question'])
		$$("div#total").text(data['totals'])
		$$("div#correct").text(data['corrects'])
		// change colour according to level later on:
		//$$("div#ratio").parent().parent().attr('class', 'btn btn-lg btn-block btn-warning')
		$$("div#ratio").text(data['percent'])
		$$("div#sensitivity").text(data['sensitivity'])
		$$("div#specificity").text(data['specificity'])
		$$("div#accuracy").text(data['accuracy'])

		if ($$("#display_toggle").prop('checked')) {
			display_chart(data);
		}
		display_user_chart(data);
		console.log(data);
	}


	$$(document).ready(function () {
			update();
			Chart.defaults.global.responsive = true;

//				$$.getJSON("$data['get_url']", function (data) {

			var source = new EventSource("$data['get_url']");
			source.onmessage = function(event) {
			    update_chart(JSON.parse(event.data));
			};

			$$('#display_toggle').change(function() {
				if ($$(this).prop('checked')) {
      				document.getElementById("histogram").hidden = false;
      				if (last_data != null)
      					display_chart(last_data);
      				} else {
      					document.getElementById("histogram").hidden = true;

      				}
    			});

  		$$('#comment_toggle').change(function(){
          if ($$(this).prop("checked")){
              //They want to show comments
              document.getElementById("comments").hidden = false;
          }else{
              document.getElementById("comments").hidden = true;
          }
        });

		}
	)
</script>

<div class="row clearfix">

	<div class="col-md-3 column">
		<div class="panel panel-default">

		  	<div class="panel-heading">
		    	<h3 class="panel-title">Stats</h3>
		  	</div>
		  	<div class="panel-body">

				<div class="btn btn-primary btn-lg btn-block" type="button">
		  			Total <span class="badge"><div id="total">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Correct <span class="badge"><div id="correct">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Correct % <span class="badge"><div id="ratio">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Sensitivity % <span class="badge"><div id="sensitivity">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Specificity % <span class="badge"><div id="specificity">-</div></span>
				</div>
				<div class="btn btn-success btn-lg btn-block" type="button">
		  			Accuracy % <span class="badge"><div id="accuracy">-</div></span>
				</div>
				<div id="legend"></div>
			</div>
		</div>
		<div class="panel panel-default">

		  	<div class="panel-heading">
		    	<h3 class="panel-title">QR Code</h3>
		  	</div>
		  	<div class="panel-body">
		  		<a href="https://api.qrserver.com/v1/create-qr-code/?size=1000x1000&data=$data['vote_url']">
		  			<img src="https://api.qrserver.com/v1/create-qr-code/?size=240x240&data=$data['vote_url']" alt="QR code" width="100%">
		  		</a>
		  	</div>
	  	</div>
		<button onclick="new_session();" class="btn btn-danger btn-block" type="button">
						Start New Session
					</button>

	</div>
	<div class="col-md-9 column">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Question</h3>
	    	</div>
		  	<div class="panel-body">
				<div class="btn-group">
					<button id = "active_question" class="btn btn-default">
						Question
					</button>
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu scrollable-menu">
						$for q in data['existing_questions']:
							<li>
								<a onclick="choose(this.id);" id="$q['uuid']">$q['question']</a>
							</li>
					</ul>
				</div>
				<br/>
				<img class="img-responsive" id="qimage">
			</div>
		</div>


		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">
		  		<div class="checkbox-inline">
				  <label>
				    <input id="display_toggle" type="checkbox" data-toggle="toggle">
				    Responses Plot
				  </label>
				</div>

        <div class="checkbox-inline">
            <label>
                <input id="comment_toggle" type="checkbox" data-toggle="toggle">
                Display Comments
          </label>
        </div>


		    	</h3>
		  	</div>
		  	<div class="panel-body">
		  		<h3 id="question" class="panel-title">Question</h3>

		  		<div id="histogram" >
    		  		    <canvas style="padding: 0;
								margin: auto;
								display: block;
								width: 600px;" id="resultChart" width="500" height="300"></canvas>
				</div>
				<div id="comments" hidden>
				    <textarea id="feedback" style="resize: none;overflow-y: scroll;" class="form-control" rows="5"></textarea>
				</div>
		  	</div>
	  	</div>
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Team Performance
		    	</h3>
		  	</div>
		  	<div class="panel-body">
		  		<canvas style="padding: 0;
								margin: auto;
								display: block;
								width: 600px;" id="userChart" width="500" height="300"></canvas>
		  	</div>

		</div>

	</div>
</div>
